doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="icon" type="image/svg+xml" href="./images/favicon.svg")
    title SiteDownPls - Category
    meta(name="description" content="Интернет магазин современной мебели")
    include pug/head.pug
  body
    include pug/header.pug
    include pug/category.pug
    include pug/footer.pug
