$conainerMaxWidth: 1352px;
$gridGutter: 32px;
$gridGutterMob: 16px;
$sectionMarginBottom: 70px;

$black: #333333;
$grey: #999999;
$greyBg: #F6F6F6;
$greyLight: #EAEAEA;
$white: #ffffff;

$violet1: #A65CF0;
$violet2: #C998FB;
$violet3: #7033AC;
$violet4: #EBD1FF;
$violet5: #F8EFFF;

$orange1: #FF862F;
$orange2: #FFBD59;
$orange3: #BB370E;
$orange4: #FFF5D1;

$gold: #D5B986;
$greenLight: #B8EC64;
$red: #FF6972;

$noColor : rgba($color: #fff, $alpha: 0.0);

$font1: 'Open Sans', sans-serif;
$font2: 'PlayfairDisplay', sans-serif;
