@import '_variabels.scss';
@import '_mixin.scss';

.catalog {
  &__breadcrumbs {
    margin-bottom: 32px;
  }
  &__sections {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: $gridGutter;
  }
  &__cell {
    &:nth-child(1) {
      grid-column: 1 / span 1;
      grid-row: 1 / span 1;
    }
    &:nth-child(2) {
      grid-column: 2 / span 3;
      grid-row: 1 / span 1;
    }
  }
  &__banner {
    padding-bottom: 30px;
    margin-bottom: 32px;
    border: none;
    border-radius: 10px;
    background-color: $black;
  }
  &__banner-img {
    max-width: 100%;
    margin-bottom: 30px;
  }
  &__banner-title {
    margin: 0 30px;
    color: $gold;
    font-family: $font2;
    font-size: 24px;
  }
  &__banner-desc {
    margin: 0 30px 12px;
    color: $white;
  }
  &__banner-btn-box {
    display: flex;
    margin: 0 30px;
  }
  &__banner-btn {
    margin-right: 5px;
    color: $violet1;
    font-weight: 600;
  }
  &__banner-btn-icon {
    fill: none;
    stroke: $violet1;
    stroke-width: 2;
  }
}
.filters{
  &__title {
    margin-bottom: 23px;
    font-size: 18px;
    line-height: 1;
  }
  &__name {
    margin-bottom: 8px;
    line-height: 1;
  }
  &__lable {
    display: block;
    margin-bottom: 10px;
    line-height: 1;
  }
  &__chek-group {
    margin-bottom: 26px;
  }
  &__chek-group-range {
    display: flex;
    justify-content: space-between;
  }
  &__input-prase {
    width: 100px;
    margin-left: 6px;
    padding: 6px 13px;
    border: 1px solid $grey;
    border-radius: 2px;
  }
  &__show-all {
    display: block;
    width: 100%;
    margin-top: 10px;
    border: none;
    outline: none;
    background: none;
    display: none;
    color: $grey;
    text-align: right;
    cursor: pointer;
    transition: background-color 0.5s cubic-bezier(0,.42,.16,.97), color 0.5s cubic-bezier(0,.42,.16,.97);
    &:hover,
    &:focus {
      color: $violet1;
    }
    &:focus span {
      background-color: $violet5;
    }
    &:active {
      color: $violet3;
    }
  }
}
.products {
  &__title {
    font-size: 24px;
  }
  &__list {
    @include clearListStyles;
    display: none;
    margin-bottom: $gridGutter;
  }
  &__list-active {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $gridGutter;
  }
}
.products-list-counter {
  @include clearListStyles;
  margin-bottom: $sectionMarginBottom;
  display: flex;
  align-items: center;
  justify-content: center;
  &__item {
    height: 32px;
    width: 32px;
    border: 2px solid $violet1;
    border-radius: 10px;
    background-color: $noColor;
    color: $violet1;
    font-weight: 600;
    line-height: 1.75;
    text-align: center;
    transition: background-color 0.5s cubic-bezier(0,.42,.16,.97), color 0.5s cubic-bezier(0,.42,.16,.97);
    cursor: pointer;
    &:not(:last-child) {
      margin-right: 16px;
    }
    &:hover {
      background-color: $violet1;
      color: $white;
    }
    &:focus {
      background-color: $violet2;
      color: $white;
    }
    &:active {
      background-color: $violet3;
      color: $white;
    }
  }
  &__active {
    background-color: $violet1;
    color: $white;
    cursor: default;
  }
}
.filters-mob {
  display: none;
}

@media (min-width: 1024px) {}
@media (max-width: 1024px) {
  .catalog {
    &__sections {
      grid-template-columns: repeat(1, 1fr);
    }
    &__cell {
      &:nth-child(1) {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
      }
      &:nth-child(2) {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
      }
    }
  }
  .filters{
    display: none;
  }
  .filters-mob {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    &__title {
      margin-right: 43px;
    }
    &__group {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 16px 32px;
      width: 100%;
    }
  }
  .select-filter {
    width: 100%;
    padding: 9px 15px;
    border: none;
    border-radius: 10px;
    background-color: $greyBg;
    &:focus {
      color: $violet3;
      background-color: $violet5;
    }
    & select {
      display: none;
    }
    & .jq-selectbox__select {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: $violet1;
      background-color: $noColor;
      cursor: pointer;
      &:hover {
        color: $violet2;
        background-color: $noColor;
      }
      &:active {
        border-color: $violet3;
        background-color: $noColor;
      }
    }
    & .jq-selectbox__select-text {
      margin-right: 5px;
    }
    & .jq-selectbox__dropdown {
      top: 35px;
      left: 0;
      margin-top: 5px;
      padding: 16px;
      border: 2px solid $greyLight;
      background: $white;
    }
    & .jq-selectbox__dropdown ul {
      @include clearListStyles;
    }
    & .jq-selectbox__dropdown li {
      cursor: pointer;
      margin-bottom: 11px;
      &:first-child {
        display: none;
      }
    }
    & .jq-selectbox__trigger {
      height: 8px;
      width: 13px;
      background: url('../images/select-arr.svg') no-repeat center center;
      transition: transform 0.25s linear;
    }
    &.opened .jq-selectbox__trigger {
      transform: rotate(-180deg);
    }
  }
}
@media (max-width: 768px) {
  .products {
    &__list-active {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .filters-mob {
    align-items: flex-start;
    flex-direction: column;
    max-width: 405px;
    &__title {
      margin: 0 0 16px 0;
    }
    &__group {
      grid-template-columns: repeat(2, 1fr);
      max-width: 405px;
    }
  }
}
@media (max-width: 540px) {
  .filters-mob {
    &__group {
      max-width: 100%;
    }
  }
  .catalog {
    &__sections {
      gap: $gridGutterMob;
    }
  }
  .products {
    &__list-active {
      gap: $gridGutterMob;
    }
  }
  .filters-mob {
    &__group {
      gap: $gridGutterMob;
    }
  }
}
