.cab-backet.inteactive
  a.cab-backet__cab.inteactive__link(href="./" aria-label="личный кабинет")
    svg.cab-backet__cab-icon.inteactive__icon(width="26" height="28")
      use(xlink:href="symbol/svg/sprite.symbol.svg#svg--user")
  a.cab-backet__backet.inteactive__link(href="./" aria-label="карзина")
    .cab-backet__backet-counter 0
    svg.cab-backet__backet-icon.inteactive__icon(width="30" height="28")
      use(xlink:href="symbol/svg/sprite.symbol.svg#svg--backet")
