link(rel="preload" href="fonts/OpenSans-Regular.woff2" as="font")
link(rel="preload" href="fonts/OpenSans-Regular.woff" as="font")
link(rel="preload" href="fonts/OpenSans-SemiBold.woff2" as="font")
link(rel="preload" href="fonts/OpenSans-SemiBold.woff" as="font")
link(rel="preload" href="fonts/OpenSans-Bold.woff2" as="font")
link(rel="preload" href="fonts/OpenSans-Bold.woff" as="font")
link(rel="preload" href="fonts/PlayfairDisplay-Black.woff2" as="font")
link(rel="preload" href="fonts/PlayfairDisplay-Black.woff" as="font")

link(rel="stylesheet" href="./resourses/normalize.css" type="text/css")
link(rel="stylesheet" href="./resourses/jquery-ui.min.css" type="text/css")
//- link(rel="stylesheet" href="./resourses/choices.min.css" type="text/css")
link(rel="stylesheet" href="./resourses/jquery.formstyler.css" type="text/css")
link(rel="stylesheet" href="./resourses/swiper-bundle.min.css" type="text/css")
link(rel="stylesheet" href="./css/style.css" type="text/css")

script(defer src="./resourses/jquery-3.6.0.min.js")
script(defer src="./resourses/jquery-ui.min.js")
script(defer src="./resourses/lazyload.min.js")
script(defer src="./resourses/swiper-bundle.min.js")
script(defer src="./resourses/inputmask.min.js")
script(defer src="./resourses/just-validate.min.js")
//- script(defer src="./resourses/choices.min.js")
script(defer src="./resourses/jquery.formstyler.min.js")
script(defer src="./resourses/price_range_script.js")
script(defer src="./js/main.js")
