.prod-details__btn-group.prod-btn
  .prod-btn__raiting
    svg.prod-btn__icon(width="16" height="15")
      use(xlink:href="symbol/svg/sprite.symbol.svg#svg--star")
    span 4.8
  h3.prod-btn__name Диван тканевый прямой “D-31”
  p.prod-btn__sname sname Мини 120 см без ящика Stark синий (Рогожка)
  h4.prod-btn__price 28 490 руб
  .prod-btn__btn-box
    button.prod-btn__btn.btn Купить в один клик
    a.prod-btn__add-bascet(aria-label="Добавить товар в корзину") + Добавить в корзину
