.prod-thumb-group
  .prod-thumb-group__thumb
    img.prod-thumb-group__thumb-img.lazyload(data-src="images/product/product-m-1.png" alt="Диван D-31")
  .prod-thumb-group__thumb
    img.prod-thumb-group__thumb-img.lazyload(data-src="images/product/product-m-2.png" alt="Диван D-31")
  .prod-thumb-group__thumb
    img.prod-thumb-group__thumb-img.lazyload(data-src="images/product/product-m-3.png" alt="Диван D-31")
  .prod-thumb-group__thumb
    img.prod-thumb-group__thumb-img.lazyload(data-src="images/product/product-m-4.png" alt="Диван D-34")
