.social.inteactive
  a.social__link.inteactive__link(href="./" aria-label="на нашу группу в facebook")
    svg.social__icon.inteactive__icon(width="30" height="30")
      use(xlink:href="symbol/svg/sprite.symbol.svg#svg--fb")
  a.social__link.inteactive__link(href="./" aria-label="на нашу группу в контакте")
    svg.social__icon.inteactive__icon(width="31" height="30")
      use(xlink:href="symbol/svg/sprite.symbol.svg#svg--vk")
  a.social__link.inteactive__link(href="./" aria-label="на нашу группу в instagram")
    svg.social__icon.inteactive__icon(width="30" height="30")
      use(xlink:href="symbol/svg/sprite.symbol.svg#svg--in")
