$primary: #116ACC;
$secondary1: #182233;
$secondary2: #B3CEE2;
$secondary3: #D9DDE7;
$secondary4: #FD4E5D;

$black: #000000;
$grey1: #1F2937;
$grey2: #374151;
$grey3: #4B5563;
$grey4: #6B7280;
$grey5: #9CA3AF;
$grey6: #D1D5DB;
$grey7: #F3F4F6;
$grey8: rgba(0, 82, 255, 0.1);
$white: #ffffff;

$hoverBg: #5897db;
$activeBg: #0c4a8f;

$info: #A0C3FF;
$success: #76CA66;
$warning: #FBC756;
$error: #BA0000;

$noColor : rgba($color: #fff, $alpha: 0.0);

$rfont: 'Roboto', sans-serif;
$ufont: 'Ubuntu', sans-serif;
$wfont: 'WorkSans', sans-serif;
