footer.footer
  .footer__container.container
    a.footer__logo-link(aria-label="Проект Blanchard")
      img.footer__logo-icon(src="./images/logo.svg" alt="Проект Blanchard")
    ul.footer__social-list
      li.footer__social-item
        a.footer__social-link(href="#" aria-label="на нашу группу в vk")
          svg.footer__social-icon
            use(xlink:href="symbol/svg/sprite.symbol.svg#svg--vk")
      li.footer__social-item
        a.footer__social-link(href="#" aria-label="на нашу группу в Однокласниках")
          svg.footer__social-icon
            use(xlink:href="symbol/svg/sprite.symbol.svg#svg--ok")

