section.projects(id="projects")
  .projects__container.container
    h2.projects__title.section-title Проекты
    p.projects__desc
      | Предварительные выводы: постоянное информационно-пропагандистское обеспечение нашей деятельности однозначно фиксирует необходимость своевременного выполнения сверхзадачи.
      | А ещё независимые государства смешаны с не уникальными данными до степени совершённой неузнаваемости, из-за чего возрастает их статус бесполезности.
      | Прежде всего, постоянное информационно-пропагандистское #[button.tooltip-btn(aria-label='Посмотреть комментарий' data-tippy-content="Пример современных тенденций — современная методология разработки") i] обеспечение нашей деятельности однозначно фиксирует необходимость экономической целесообразности принимаемых решений.
      | И нет сомнений, что действия представителей оппозиции могут быть рассмотрены #[button.tooltip-btn(aria-label='Посмотреть комментарий' data-tippy-content="Приятно, граждане, наблюдать, как сделанные на базе аналитики выводы вызывают у вас эмоции") i]
      | исключительно в разрезе маркетинговых и финансовых #[button.tooltip-btn(aria-label='Посмотреть комментарий' data-tippy-content="В стремлении повысить качество") i] предпосылок.
      | Банальные, но неопровержимые выводы, а также представители современных социальных резервов призывают нас к новым свершениям, которые, в свою очередь, должны быть смешаны с не уникальными данными до степени совершённой неузнаваемости. Подробнее:
      | #[a.link(href="#") #[span blanchard-art.ru/projects]]
